{% extends 'layout/layout.html.twig' %}

{% block content %}
    <nav class="admin col-12">
        <ul class="nav nav-tabs" id="adminTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="gestart-tab" data-toggle="tab" href="#gestart" role="tab"
                   aria-controls="gestart" aria-selected="true">Gestion des articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="create-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create"
                   aria-selected="true">Création d'article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab"
                   aria-controls="comments"
                   aria-selected="true">Gestion des commentaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user"
                   aria-selected="false">Gestion des utilisateurs</a>
            </li>
        </ul>
        <div class="tab-content text-center mt-5" id="adminTabContent">
            <div class="tab-pane fade show active mb-5" id="gestart" role="tabpanel" aria-labelledby="gestart-tab">

                <!-- Articles List -->
                <div class="offset-2 col-8 offset-2">

                    <h5 class="my-4 text-center">Liste des articles</h5>

                    {% for article in articles %}
                        <div class="card mb-4">

                            <div class="card-body text-md-left">
                                <h2 class="card-title"><a href="../public/?id={{ article.id }}&access=article!read">{{ article.title }}</a>
                                </h2>

                                <h3 class="lead">{{ article.chapo }}</h3>
                            </div>
                            <div class="card-footer text-muted text-md-left">
                                Edité le {{ article.dte | date ('d-m-Y à H:i') }} par {{ article.author }} .
                            </div>
                            <div class="form-group text-right mr-5">
                                <a class="btn btn-secondary mt-2 col-xs col-md-1 "
                                   href="../public/?id={{ article.id }}&access=article!updateLoad">Modifier</a>
                                <a class="btn btn-outline-danger mt-2 col-xs col-md-1 "
                                   href="../public/?id={{ article.id }}&access=article!delete"
                                   onclick="return window.confirm('Êtes vous sûr de vouloir supprimer cet article ?!')">Supprimer</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- start create an article -->
            <div class="tab-pane fade offset-2 col-8 offset-2" id="create" role="tabpanel" aria-labelledby="create-tab"
                 action="create">
                <h2 class=" text-center mb-5 mt-md-5">Nouvel article </h2>
                <form method="post" action="../public/index.php?access=article!create">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Entrer le titre" id="title"
                                       name="title"
                                       data-validation-required-message="Ce champ est obligatoire !">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Entrer le châpo" id="chapo"
                                       name="chapo"
                                       data-validation-required-message="Ce champ est obligatoire !">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="create" rows="8" required
                                  data-validation-required-message="Ce champ est obligatoire"
                                  placeholder="Entrer le corps de l'article"></textarea>
                    </div>
                    <div class="form-group mt-3 text-left">
                        <button type="submit" class="btn btn-secondary" id="submit">Envoyer</button>
                    </div>
                </form>
            </div>
            <!--end create -->

            <!-- Comments part -->
            <div class="table-responsive table-hover tab-pane fade offset-2 col-8 offset-2" id="comments" role="tabpanel"
                 aria-labelledby="comments-tab" action="comments">
                <table class="table text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th class="col-8">Tableau des Commentaires</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if comments is empty %}
                        <td>Il n'y a pas de commentaires en attente de validation .</td>
                    {% endif %}
                    {% for comment in comments %}
                        {% if comment.statement == 0 %}
                            <tr>
                                <td>
                                    <b>posté par : {{ comment.author }}</b>
                                    <b>le : {{ comment.dte | date ('d-m-Y à H:i') }}</b>
                                    <b>commentaire : {{ comment.content }}</b>
                                    <div class="mt-1">
                                        <a class="btn btn-sm btn-secondary"
                                           href="../public/?id={{ comment.id }}&access=comment!validate">Valider</a>
                                        <a class="btn btn-sm btn-danger"
                                           href="../public/?id={{ comment.id }}&access=comment!delete"
                                           onclick="return window.confirm('Êtes vous sûr de vouloir supprimer ce commentaire ?!')">Supprimer</a>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- end Comments part -->
            <!-- Start User part -->
            <div class="table-responsive table-hover tab-pane fade offset-2 col-8 offset-2" id="user" role="tabpanel" aria-labelledby="user-tab"
                 action="user">
                <table class="table text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th class="col" scope="col">Tableau des Utilisateurs</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in user | sort %}
                        <tr>
                            <td><b>Nom d'utilisateur : </b>{{ user.username }}<br>
                                <b> Nom et Prénom: </b>{{ user.surname }} , {{ user.firstname }}<br>
                                <b>Email : </b>{{ user.email }}
                                <b>Rôle : </b>{{ user.role }}
                                <div class="mt-1">
                                    {% if session.user.role is defined and session.user.role is not same as('admin') %}
                                        <a class="btn  btn-sm btn-outline-danger"
                                           href="../public/?id={{ user.id }}&access=user!delete" onclick="return window.confirm('Êtes-vous certain de vouloir supprimer cette utilisateur ?!')">Supprimer
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- End User part -->
        </div>
    </nav>
{% endblock %}
























